---
- name: Copy beat configuration
  become: yes
  copy:
    content: "{{ beats_clients_configs[item] | to_nice_yaml }}"
    dest: "/etc/{{ item }}/{{ item }}.yml"
    mode: "0644"
    owner: root
    group: root
    validate: "/usr/share/{{item}}/bin/{{item}} -configtest -path.config %s/../ -c source"
  notify: "restart {{ item }}"
  with_items: "{{ beats_client_beats_packages }}"

- name: Enable beat service
  become: yes
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  with_items: "{{ beats_client_beats_packages }}"
