filebeat:
  prospectors:
    - paths:
        - /var/log/syslog
      document_type: syslog

    - paths:
        - /var/log/dpkg.log
      document_type: dpkg

output:
  logstash:
    enabled: true
    hosts:
      - "{{ elk_logserver_ip_address }}:5000"

  console:
    pretty: true

logging:
  level: debug
  to_files: true
  to_syslog: false
  files:
    path: /var/log/
    name: filebeat.log
    keepfiles: 7
