---
filebeat:
  prospectors:
{% for logfile in logstash_client_combined_logfiles %}
    - paths:
{% for path in logfile.paths %}
        - {{ path }}
{% endfor %}
      document_type: {{ logfile.document_type }}
{% endfor %}

output:
  logstash:
    enabled: true
    hosts:
      - "{{ logstash_client_logserver }}:{{ logstash_client_port }}"
{% if logstash_client_ssl %}
    tls:
{% if logstash_client_ssl_certificate_fullpath != "" %}
      certificate_authorities:
        - "{{ logstash_client_ssl_certificate_fullpath }}"
{% endif %}
      insecure: {{ logstash_output_insecure }}
{% endif %}

logging:
  level: warning
  to_files: true
  to_syslog: false
  files:
    path: /var/log/
    name: filebeat.log
    keepfiles: 2
