---
filebeat:
  prospectors:
{% for logfile in logstash_client_combined_logfiles %}
    - paths:
{% for path in logfile.paths %}
        - {{ path }}
{% endfor %}
      document_type: {{ logfile.document_type }}
{% endfor %}

output:
  logstash:
    enabled: true
    hosts:
      - "{{ elk_logserver_ip_address }}:5000"
{% if logstash_client_ssl_certificate is defined and
      logstash_client_ssl_certificate != "" %}
    tls:
      certificate_authorities:
        - "{{ logstash_client_ssl_certificate_fullpath }}"
{% endif %}
  console:
    pretty: true

logging:
  level: warning
  to_files: true
  to_syslog: false
  files:
    path: /var/log/
    name: filebeat.log
    keepfiles: 2
