---
input:
  period: {{ logstash_client_topbeat_period }}
  stats:
    system: true
    process: true
    filesystem: true

output:
  logstash:
    enabled: true
    hosts:
      - "{{ logstash_client_logserver_ip_address }}:5000"
{% if logstash_client_ssl %}
    tls:
{% if logstash_client_ssl_certificate_fullpath != "" %}
      certificate_authorities:
        - "{{ logstash_client_ssl_certificate_fullpath }}"
{% endif %}
      insecure: {{ logstash_output_insecure }}
{% endif %}

logging:
  level: warning
  to_files: true
  to_syslog: false
  files:
    path: /var/log/
    name: topbeat.log
    keepfiles: 2
